@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Remove border from toggler */
.navbar-toggler {
    border: 0 !important;
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 35px;
    height: 1.5px;
    background-color: #05C7F2;
    display: block;
    transition: all 0.3s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 7px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(-45deg) translate(-8px,8px);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(45deg) translate(-4px,-4px);
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: #05C7F2;
}

.navbar-expand-lg.navbar-nav.nav-link {
    padding: 0;
    margin-left: 1.5rem;
}

.navbar-toggler {
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}

.nav-link {
    color: #606E7F !important;
}

.nav-link:hover {
    color: #05C7F2 !important;
}

.carousel-control-prev-icon{
    margin-top: 125px;
}

.carousel-control-next-icon{
    margin-top: 125px;
}

.cpt{
    padding-top: 20px;
}

/* Custom Responsive Starts*/
@media only screen and (max-width: 991px){
.nav-link.contxt{
        padding-right: 0 !important;
    }
}

.about-me{
    padding-bottom: 0px !important;
}

.card-header{
    background-color: #606E7F;
}

.colr{
    color: white;
}

.colr:hover{
    color: white;
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
}

@media screen and (max-width: 575px){
    .navbar.navbar-expand-lg{
        padding-left: 12px;
        padding-right: 12px;
    }

    .txt{
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 0px;
    }

    .d-block{
        height: 45vh;
        object-fit: cover;
        object-position: center;
    }

    .footer-text{
        font-size: 12px !important;
    }

    .pic{
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
    }

    .cpt{
        margin-bottom: 24px;
        margin-left: 12px;
        margin-right: 12px;
    }

    .pb{
        padding-bottom: 0px !important;
    }

    .btn-end{
        text-align: center !important;
        margin-top: 24px;
    }

    .cta-txt{
        text-align: center;
    }
}

.navbar{
    background-color: white !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.crd-n{
    border: 0px;
}
